# Only needed for dev tooling
DEV_PG_ADDRESS="localhost:5432"
DEV_PG_PASSWORD="" # TODO: Pick a password for dev postgres instance

# ===============================================================================
# zero-cache config
# ===============================================================================

# This needs to be a "direct" (unpooled) Postgres connection to support logical
# replication.
ZERO_UPSTREAM_DB="postgres://postgres:${DEV_PG_PASSWORD}@${DEV_PG_ADDRESS}/postgres"

ZERO_ADMIN_PASSWORD=""  # TODO: Pick a password to authenticate admin tools
ZERO_SCHEMA_PATH="zero/schema.ts"
ZERO_MUTATE_URL="http://localhost:3000/api/zero/mutate"
ZERO_GET_QUERIES_URL="http://localhost:3000/api/zero/get-queries"
ZERO_LOG_LEVEL="debug"
ZERO_GET_QUERIES_FORWARD_COOKIES="true"
ZERO_MUTATE_FORWARD_COOKIES="true"

# ===============================================================================
# app config
# ===============================================================================

# In production, this should be a pooled connection to conserve connections.
PG_URL="${ZERO_UPSTREAM_DB}"

BETTER_AUTH_SECRET="" # TODO: Pick a password for better-auth
GITHUB_CLIENT_ID="" # TODO: Enter your github oauth app client id
GITHUB_CLIENT_SECRET="" # TODO: Enter your github oauth app client secret
VITE_PUBLIC_SERVER="http://localhost:4848"

# Set to `.yourdomain.com` to enable cookie auth in prod
# See https://zero.rocicorp.dev/docs/auth#cookie-based-auth
COOKIE_DOMAIN=""
